.btn-4:hover {
    background: #2c3e50;
}

.btn-4:active {
    background: #2c3e50;
    top: 2px;
}

.btn-4:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}
